.header {
  display: flex;
  align-items: center;
  background-color: var(--c-background);
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 8px;
  position: sticky !important;
  top: 0;
  z-index: 1;

  @media (--d) {
    margin-top: 20px;
  }

  a {
    svg {
      cursor: pointer;
      height: auto;
      width: 100%;
      color: var(--c-text);
    }
  }

  .nav {
    font-size: 16px;
    @media (--d) {
      font-size: 1rem;
      display: flex;
    }
  }

  .hamburger {
    cursor: pointer;

    &:hover {
      color: var(--c-izmir);
    }
    @media (--d) {
      display: none;
    }
  }
  .button {
    display: none;
    @media (--d) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Inter;
    }
  }
}

.mobilMenu {
  width: 270px;
  background-color: var(--c-background);
  height: 100vh;

  position: sticky;
  z-index: 111;
  top: 0;
  margin-left: auto;
  padding: 10px;

  @media (--d) {
    display: none;
  }

  .content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .mobileNav {
      flex-direction: column;
    }
    a {
      font-size: 24px;
      font-weight: bold;
    }
    a + a {
      margin-left: 0;
    }

    .button {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
    }
  }
}

.menuActive {
}
.menuPasif {
  display: none;
}

.actives {
  box-shadow: var(--s-shadow);
}

.disabled {
  box-shadow: none;
}
