.header {
  display: flex;
  align-items: center;
  background-color: var(--c-background);
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: var(--s-shadow);

  .nav {
    display: none;

    @media (--d) {
      display: flex;
    }
  }

  .hamburger {
    @media (--d) {
      display: none;
    }
  }
}
