.button {
  cursor: pointer;
  background: transparent;
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 44px;
  width: 144px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}
.fullWidth {
  width: 100% !important;
}

.primary {
  background: linear-gradient(181.02deg, #439fc0 0.73%, #0284cb 99.32%);
  border: 1px solid #439fc0;
  transition: var(--fade);

  &:hover {
    background: var(--soytariBlue3-20);
  }

  &:active {
    background: var(--soytariBlue3-10);
  }
}

.disable {
  pointer-events: none;
  background: gray;
  border: none;
}

.iconButton {
  width: 60px;
  svg {
    font-size: 33px;
    color: var(--c-text);
  }
  & svg + svg {
    margin-left: 20px;
  }
}
