.container {
  height: inherit;
  display: flex;
  align-items: center;
  margin-top: 100px;
  border-top: 2px solid;
  border-color: var(--gray);
  @media (--d) {
    height: 300px;
    border: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    gap: 40px;

    @media (--d) {
      gap: 0;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }

    .brand {
      display: flex;
      align-items: center;
      flex-direction: column;
      @media (--d) {
        align-items: start;
      }

      .motto {
        max-width: 80px;
        font-size: 18px;
        text-align: center;
        @media (--d) {
          text-align: left;
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        max-width: 88px;
        button {
          margin-top: 10px;
          svg {
            color: var(--c-text);
          }
          & svg + svg {
            margin-left: 20px;
          }
        }
      }
    }

    .nav {
      text-align: center;
      @media (--d) {
        text-align: left;
      }
      .footernav {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (--d) {
          align-items: start;
        }
        & a + a {
          margin-left: 0;
        }
      }
      .themeButton {
        margin-top: 20px;
        background: none;
        border: 2px solid;
        border-color: var(--soytariBlueSingle);
        color: var(--c-text);
      }
    }

    .news {
      form {
        padding: 0;
      }

      margin-bottom: 40px;
    }
  }
}
