.descript {
  max-width: 335px;
  text-align: center;
  font-family: Poppins;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  @media (--d) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    max-width: 500px;
    text-align: left;
    margin-top: 20px;
  }
}
