.h1 {
  font-size: 72px;
  font-family: 'Inter';
  line-height: 87px;
  text-align: center;
  color: var(--c-izmir);
}

.paragraph {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 335px;
}
