.nav {
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--c-izmir);
    }
  }
  a + a {
    margin-left: 20px;
  }
}
