@import 'variables.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--c-background);
  color: var(--c-text);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

form {
  padding: 20px;
  width: 100%;

  @media (--d) {
    width: inherit;
  }
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  border-radius: 8px;
  height: 42px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: inherit;
  font-family: inherit;
  color: var(--c-text);
  background-color: var(--inputBG);
}

input[type='text']::placeholder,
input[type='tel']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
  color: var(--inputPlc);
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus {
  background-color: var(--gray);
}

textarea {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 144px;
  resize: none;
  width: 100%;
}

.coming-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  @media (--d) {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 20px;
    @media (--d) {
      font-size: 96px;
    }
  }

  .hero-coming {
    position: initial;
    font-size: 344px;
    @media (--d) {
      font-size: 644px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.league-button {
  height: 200px;
  width: 200px;
}
