.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 244px;
  @media (--d) {
    flex-direction: row-reverse;
  }

  .text {
    padding: 20px;

    .title {
      margin-bottom: 20px;
    }
  }

  .image {
    position: relative;
    bottom: 24px;
    @media (--d) {
      position: initial;
    }
  }
}
